<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/otpViews.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="nav-container">
        <div class="left-nev">NodeJs Authentication</div>

        <div class="right-nev">

            <% if(!locals.jwtToken){ %>
                <div class="sign-up">
                    <a href="/api/user/signup">Signup</a>
                </div>
    
                <div class="sign-in">
                    <a href="/api/user/signin">Signin</a>
                </div>
    
            <% } else { %>
                <div class="user-info">
                   <%= loginResult.name %> |
                </div>
                <div class="logout">
                    <a href="/api/user/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            <% } %>

           

        </div>
    </div>

    <%- body %>


<script src="/js/index.js"></script>
<script src="/js/login.js"></script>
<script src="/js/otpForm.js"></script>
    
</body>
</html>