
<div class="protectedPageContainer">

    <div class="typing-boxWrapper">
        <div class="typing-animation">Welcome to my website!</div>
    </div>

    <div class="container">
        <div class="ball-container">
          <div class="ball-shadow">
          </div>
          <div class="ball">
          </div>
        </div>
      </div>

      
</div>
