

<div class="otpContainer resetPasswordContainer">
    <% if (sucessMsg){ %>
        <div class="otp-success"><h2><%= sucessMsg %></h2></div>
       
        <script>
           OtpshowSuccessMessage()
        </script>

    <% } %>

   



    <h1 class="resetPassword-heading">Verify OTP and reset password!</h1>

    <div class="startButton otpFormToggle" onclick="toggleOtpForm()">
        Start
        <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
    </div>
    <div class="otpFormContainer otpFormContainer-show">
        <div class="otpFormWrapper">
           
            <div class="header-signup">
                <h2 class="form-header">Verify OTP</h2>
                <div class="close-otpForm" onclick="toggleOtpForm()"><i class="fa-solid fa-xmark"></i></div>

            </div>

            <form action="/api/otp/verifyOtp-resetPassword" method="post">
                <% if (error){ %>
                    <div class="error-message hideMsg"><%= error %></div>
            
                <% } %>


                <div class="form-control-div">
                    <label for="otp-email"><i class="fas fa-envelope"></i></label>
                    <input type="text" name="email" id="otp-email" placeholder="Send email...">
                </div>

                <div class="form-control-div">
                    <label for="otp-password"><i class="fas fa-lock"></i></i></label>
                    <input type="password" name="password" id="otp-password" placeholder="Enter password...">
                </div>

                <!-- <div class="form-control-div">
                    <label for="otp-con-password"><i class="fas fa-lock"></i></i></label>
                    <input type="password" name="confirmPassword" id="otp-con-password" placeholder="Confirm password...">
                </div> -->
                <div class="form-control-div">
                    <label for="otp-verify"><i class="fa-solid fa-key"></i></i></label>
                    <input type="text" name="otp" id="otp-verify" placeholder="Enter OTP...">
                </div>


                <div class="submitOtp"><button type="submit">Send OTP</button></div>


                <div class="forgetPasswordLink">
                    <a href="/api/otp/getOtpForm"> Resend OTP..?</a>
                </div>
            </form>


        </div>

    </div>


</div>